{% load show_title_in_header %}
<header id="header">
    {% show_title_in_header %}
    <a href="/" class="logo">
        <strong>Projectin</strong>.ru
    </a>
    <ul class="icons">
        <li>
            <a href="https://www.facebook.com/tingimranoff/" class="icon brands fa-facebook-f" target="_blank">
                <span class="label">Facebook</span>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/tingimranov/" class="icon brands fa-instagram" target="_blank">
                <span class="label">Instagram</span>
            </a>
        </li>
        <li>
            <a href="https://www.youtube.com/channel/UCqNPCAsMd16PqsSGMXUEpYQ" class="icon brands fa-youtube"
               target="_blank">
                <span class="label">YouTube</span>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/tin-gimranov/" class="icon brands fa-linkedin" target="_blank">
                <span class="label">LinkedIn</span>
            </a>
        </li>
    </ul>
</header>
