{% load static %}
{% load sass_tags %}
<!DOCTYPE HTML>
<html>
<head>
    <link rel="icon" type="image/png" href="{% static "favicon.png" %}"/>
    <title>{{ title|default:"Главная" }} — Projectin.ru</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="{% sass_src 'assets/styles/main.scss' %}"/>
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">
            <!-- Header -->
            {% include "header.html" %}
            <!-- Section -->
            {% block content %}
            {% endblock %}
        </div>
    </div>

    {% include "sidebar.html" %}

</div>

<!-- Scripts -->
<script src="{% static "assets/js/jquery.min.js" %}?v=0001"></script>
<script src="{% static "assets/js/browser.min.js" %}?v=0001"></script>
<script src="{% static "assets/js/breakpoints.min.js" %}"></script>
<script src="{% static "assets/js/util.js" %}"></script>
<script src="{% static "assets/js/main.js" %}"></script>
</body>
</html>
