{% load show_categories_list %}
{% load last_posts %}
<!-- Sidebar -->
<div id="sidebar">
    <div class="inner">
        {% include "sidebar/search.html" %}
        {% show_categories_list %}
        {% last_posts %}
        {% include "sidebar/contacts.html" %}
        {% include "sidebar/footer.html" %}
    </div>
</div>
