{% load comments %}

{% get_comment_list for object as comment_list %}

<h3>Комментарии</h3>
<div id="comments">
{% for comment in comment_list %}
    <div class="box" id="c{{ comment.id }}">
        <h4 style="font-size: 85%">{{ comment.name }}</h4>
        <p class="posts-datetime">{{ comment.submit_date }}</p>
        <span>{{ comment.comment }}</span>
    </div>
{% endfor %}
</div>
<script>
    window.onload = () => {
        const url = new URL(window.location.href);
        const c = url.searchParams.get("c");
        if (c !== null)
            document.getElementById(`c${c}`).scrollIntoView({behavior: 'smooth'});
    }
</script>
