{% load comments %}
{% get_comment_form for object as form %}
<div class="row">
    <form method="post" action="{% comment_form_target %}"
          class="col-4 col-6-xlarge col-6-large col-8-medium col-12-small">
        <h3>Оставьте свой комментарий</h3>
        <div class="box">
            <div class="row gtr-uniform">
                {% csrf_token %}
                {{ form.content_type }}
                {{ form.object_pk }}
                {{ form.timestamp }}
                {{ form.security_hash }}
                <input type="hidden" name="next" value="{% url 'post_detail_view' object.slug %}"/>
                <div class="col-6 col-6-xlarge col-6-large col-6-medium col-12-small col-12-xsmall">
                    {{ form.name }}
                </div>
                <div class="col-6 col-6-xlarge col-6-large col-6-medium col-12-small col-12-xsmall">
                    {{ form.email }}
                </div>
                <div class="col-12">
                    {{ form.comment }}
                </div>
                <div class="col-12">
                    <ul class="actions">
                        <li><input type="submit" value="Опубликовать" name="submit" class="primary"/></li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>
