{% extends 'main.html' %}

{% block content %}
    <script src="https://yastatic.net/share2/share.js" async></script>
    <section>
        <div class="post-header">
            <h3>{{ object.header }}</h3>
            <div class="ya-share2" data-curtain
                 data-services="vkontakte,facebook,telegram,twitter,linkedin"
                 data-description="{{ object.annotation }}"
                 data-image="{{ object.image.url }}"
            ></div>
        </div>
        <p class="posts-datetime">{{ object.publish_date }}</p>
        {{ object.content|safe }}
        <div class="col-12">
            {% for category in object.categories.all %}
                <a href="/category/{{ category.slug }}/">{{ category.name }}</a>
            {% endfor %}
        </div>
    </section>
    <section>
        {% include 'comment_list.html' with object=object %}
        {% include 'comment_form.html' with object=object %}
    </section>
{% endblock %}
