{% extends 'main.html' %}
{% load times %}
{% block content %}
    <section>
        <div class="posts">
            {% for post in object_list %}
                <article>
                    <a href="/{{ post.slug }}/" class="image"><img src="{{ post.image.url }}" alt="{{ post.header }}"/></a>
                    <h3><a href="/{{ post.slug }}/">{{ post.header }}</a></h3>
                    <p>{{ post.annotation }}</p>
                    <p class="post-datetime">{{ post.publish_date }}</p>
                    <ul class="actions">
                        <li><a href="/{{ post.slug }}/" class="button">Читать</a></li>
                    </ul>
                </article>
            {% endfor %}
        </div>
        {% if page_obj.paginator.num_pages > 1 %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}" class="page"><span class="button">Пред.</span></a></li>
                {% else %}
                    <li><span class="button disabled">Пред.</span></li>
                {% endif %}
                {% for page in page_obj.paginator.num_pages|times %}
                    {% if page_obj.number == page %}
                        <li><span class="page active">{{ page }}</span></li>
                    {% else %}
                        <li><a href="?page={{ page }}" class="page">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}" class="page"><span class="button">След.</span></a></li>
                {% else %}
                    <li><span class="button disabled">След.</span></li>
                {% endif %}
            </ul>
        {% endif %}
    </section>

{% endblock %}
