.posts-datetime {
  font-size: 80%;
  opacity: .7;

  &:before {
    font-family: "Font Awesome 5 Free";
    content: '\f017';
    padding-right: .3em;
  }
}

#menu ul span.active {
  color: _palette(accent);
}

pre {
  background: rgb(0, 0, 0);
  padding: 1em;
  border-radius: 3px;
}

.post-header {
  display: flex;
  justify-content: space-between;

  h3 {
    flex: 0 1 auto;
  }
  .ya-share2 {
    margin-top: -4px;
    flex: 0 1 auto;
  }
}

.ya-share2 {


  a {
    border-bottom: none;
  }
}
