<!-- Menu -->
<nav id="menu">
    <ul>
        {% if url == "/" %}
            <li><span class="active">Все посты</span></li>
        {% else %}
            <li><a href="/">Все посты</a></li>
        {% endif %}
        {% for c in categories %}
            {% if url == "/category/"|add:c.slug|add:"/" %}
                <li><span class="active">{{ c.name }}</span></li>
            {% else %}
                <li><a href="/category/{{ c.slug }}/">{{ c.name }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
