<!-- Section -->
<section>
    <header class="major">
        <h2>Связаться</h2>
    </header>
    <p>Вопросы и пожелания можно направлять на почту.</p>
    <ul class="contact">
        <li class="icon solid fa-envelope"><a href="mailto: gimranov.valentin@yandex.ru">gimranov.valentin@yandex.ru</a>
        </li>
    </ul>
</section>
