<!-- Section -->
<section>
    <header class="major">
        <h2>Новое</h2>
    </header>
    <div class="mini-posts">
        {% for p in posts %}
            <article>
                <a href="/{{ p.slug }}/" class="image"><img src="{{ p.image.url }}" alt="{{ p.header }}"/></a>
                <p><a href="/{{ p.slug }}/">{{ p.annotation }}</a></p>
                <p class="posts-datetime">{{ p.publish_date }}</p>
            </article>
        {% endfor %}
    </div>
</section>
