<!-- Search -->
<section id="search" class="alt">
    <form method="GET" action="/search/">
        <input type="text" name="q" id="query" placeholder="Поиск" value="{{ request.GET.q }}"/>
    </form>
</section>
